.question1{
    display: inline-flex;
    flex-direction:column;
    text-align: center;
    
}
#feedback{
    
    font-size: 4em;
   text-align: center;
}
h1{
    font-size: 5em;
    color: red;
}
h2{
    font-size: 3em;
}
p{
    font-size: 1.5em;
    padding: .75em;
    text-align: center;
}
input{
    font-size: 5em;
}
body{
    display: flex;
    justify-content: center;
    padding: .5em;
}

#guess{
    text-align: center;
}

#images{
    width: 100%;
}

#updateQ{
    font-size: 1.5em;
}
